{% extends 'channels/home.html' %}

{% block chat %}
<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="card shadow-lg" style="max-width: 500px; width: 100%;">
        <div class="card-header bg-danger text-white">
            <h5 class="card-title mb-0">Delete Message</h5>
        </div>
        <div class="card-body">
            <form action="" method="post">
                {% csrf_token %}
                <div class="alert alert-warning" role="alert">
                    {% if delete == 'message' %}
                        <strong>Warning!</strong> Are you sure you want to delete the message: "<em>{{message.body}}</em>"?
                    {% elif delete == 'comment' %}
                        <strong>Warning!</strong> Are you sure you want to delete the comment: "<em>{{comment.body}}</em>"?
                    {% else %}
                        <strong>Warning!</strong> Are you sure you want to delete the channel: "<em>{{channel.name}}</em>"?
                    {% endif %}
                </div>
                <div class="d-flex justify-content-end gap-2">
                    <a href="{{request.META.HTTP_REFERER}}" class="btn btn-secondary">Cancel</a>
                    <input type="submit" value="Delete" class="btn btn-danger">
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}