{% extends 'core/base.html' %}

{% block content %}
<div class="container-fluid vh-100">
    <div class="row h-100">
        <div class="col-md-4 col-lg-3 border-end d-flex flex-column">
            <div class="p-3 flex-grow-1 overflow-auto">
                <a href="{% url 'create_group' %}" class="btn btn-primary mb-3">Create New Group</a>
                <a href="{% url 'create_channel' %}" class="btn btn-primary mb-3">Create New Channel</a>
                <h3 class="h5">Chats</h3>
                <form action="" method="get">
                    <input type="search" name="q" placeholder="Search Chat..." class="form-control">
                    <input type="submit" value="Search" >
                </form><div class="nav flex-column">
                    <button class="nav-link">All</button>
                    <button class="nav-link">Groups</button>
                    <button class="nav-link">Channels</button>
                    <button class="nav-link">Friends</button>
                </div>
                <hr>
                <div class="list-group list-group-flush">
                    {% for group in groups %}
                    
                    <a href="{% url 'group' group.id %}" class="list-group-item list-group-item-action" >
                        <img src="{{ group.profile.url }}" alt="profile" style="width: 40px; height: 40px; border-radius: 20px;">
                        {{group.name}}
                    </a>
                    {% endfor %}
                    {% for channel in channels %}
                        <a href="{% url 'channel' channel.id %}" class="list-group-item list-group-item-action">
                            <img src="{{ channel.profile.url }}" alt="profile" style="width: 40px; height: 40px; border-radius: 20px;">
                            {{channel.name}}
                        </a>
                    {% endfor %}
                    {% for user in users %}
                        {% if user != request.user %}
                            <a href="{% url 'friend' user.id %}" class="list-group-item list-group-item-action">{{user.username}}</a>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-md-8 col-lg-9 d-flex flex-column">
            <div class="flex-grow-1 d-flex flex-column">
                {% if page == 'home' %}
                    <div class="text-center py-5 flex-grow-1 d-flex align-items-center justify-content-center">
                        <h1 class="display-4 text-muted">Select a chat</h1>
                    </div>
                {% endif %}
                {% block chat %}
                {% endblock %}
            </div>
        </div>
    </div>
</div>
{% endblock %}